doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Hello! It's memo web! 
        h5
            a(href="http://localhost:3000/memo") go to memo
        h5  
            a(href="http://localhost:3000/check") check your memo with markdown 